<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/projects">Projecten</a></li>
    <li><a href="#/projects/{{ project.id }}">{{ project.name }}</a></li>
    <li class="active">{{task.name}}</li>
</ol>

<div>
    <!--<h1>{{project.name}} <small>Project</small></h1>-->
    <!--<h2>{{task.name}} <small>Taak</small></h2>-->

    <h3>Toevoegen</h3>

    <form role="form">
        <div class="form-group">
            <!--<label>-->
                <!--Type:-->
                <!--<select class="form-control" ng-model="new.type">-->
                    <!--<option>Werk</option>-->
                    <!--<option>Telefoon</option>-->
                    <!--<option>Meeting</option>-->
                <!--</select></label>-->

            <button ng-init="geoIsActive = false"
                    ng-class="{'btn': !geoIsActive, 'btn btn-success': geoIsActive}"
                    ng-click="geoIsActive = !geoIsActive;toggleGeo(this);"
                    id="geo-btn"
                    class="btn glyphicon glyphicon-map-marker"></button>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    <fieldset>
                        <label>
                            Timer:<br>
                            <button
                                    ng-click="timer()"
                                    class="btn btn-success glyphicon glyphicon-{{ action }}"
                                    style="font-size: 38px;"></button>
                            <p class="help-block">Bij het klikken op de timer worden de tijden gereset.</p>
                        </label>

                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <fieldset disabled>
                    <label style="margin-right: 20px;">
                        Start:
                        <div ng-model="new.startTime" ng-change="updateTime()"> <!-- ng-change="updateTime() -->
                            <timepicker show-meridian="false"></timepicker>
                        </div>
                    </label>

                    <label>
                        Einde:
                        <div ng-model="new.endTime" ng-change="updateTime()">
                            <timepicker show-meridian="false"></timepicker>
                        </div>
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
        <label>
            Totaal:
            <span style="font-size: 30px;">{{ (new.endTime - new.startTime) | longness}}</span>
        </label>
        <!--<button class="btn btn-primary" ng-click="save()" style="float: right;">Opslaan</button>-->
        </div>

    </form>

    <h3>Activiteiten</h3>

    <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
            <th>Van</th>
            <th>Tot</th>
            <th>Totaal</th>
        </tr>
        </thead>
        <tbody ng-repeat="activity in task.activities">
        <tr>
            <td>{{ activity.startTime | date: 'MMM d, HH:mm:ss'}}</td>
            <td>{{ activity.endTime | date: 'MMM d, HH:mm:ss' }}</td>
            <td>
                {{ (activity.endTime - activity.startTime) | longness: 'h:m'}}

                <span ng-if="!activity.id" class="label label-warning">Nog niet online</span>

            </td>
            <!--<td>-->
                <!--<button class="btn btn-danger btn-sm">Verwijderen</button>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>


    <leaflet markers="map.markers" defaults="map.defaults" center="map.center" height="300px"></leaflet>

</div>