<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/projects">Projecten</a></li>
    <li><a href="#/projects/{{ project.id }}">{{ project.name }}</a></li>
    <li class="active">Taak aanmaken</li>
</ol>

<form role="form">
    <div class="form-group">
        <label for="taskName">Taak naam</label>
        <input type="text" ng-model="taskName" class="form-control" id="taskName" required autofocus placeholder="Naam van de taak">
    </div>
    <button class="btn btn-default" ng-click="save()">{{ action }}</button>
</form>